<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="recover.css">
    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <div class="card">
        <p class="title">Recuperación de contraseña</p>
        <br>
        <img src="https://firebasestorage.googleapis.com/v0/b/lowlowburger.appspot.com/o/fast-food.png?alt=media&token=63594e85-5321-431b-b544-9fa33aa9b79c">
        <br>
        <p>Hola, UserName</p>
        <p>Has solicitado un cambio de contraseña.</p>
        <br>
        <button class="button">Cambiar Contraseña</button>
        <p>Si no has sido tú el que solicitó el cambio, ignora este mensaje</p>
    </div>
</div>
</body>
</html>
